body {
  font: 100% Arial, Helvetica, sans-serif;
  margin: 0; }

.hidden {
  display: none; }

.main_header nav {
  background-color: #D9D9D9; }
.main_header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.main_header nav ul li {
  text-align: center;
  border-bottom: 2px solid #BFBFBF;
  padding: 5px 0; }
.main_header nav ul li a {
  font: 1.5rem Oswald, Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: black; }
.main_header .fa-home, .main_header .fa-utensils, .main_header .fa-dollar-sign, .main_header .fa-question {
  color: #990000; }

.mob_header {
  background-color: #BFBFBF;
  border-bottom: 5px groove black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .313em .750em; }
  .mob_header h1 {
    font: 1.75rem Oswald, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0; }
  .mob_header .fa-bars {
    font-size: 1.75rem;
    padding-top: .188em;
    color: black; }

#mob_nav_modal {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }
  #mob_nav_modal h2 {
    font: 1.75rem Oswald, Arial, Helvetica, sans-serif;
    color: #d9ffb3;
    margin: 0;
    padding: .179em .357em;
    border-bottom: 1px solid #d9ffb3; }
  #mob_nav_modal .fa-home, #mob_nav_modal .fa-file, #mob_nav_modal .fa-question, #mob_nav_modal .fa-plus {
    color: white; }
  #mob_nav_modal q {
    font: 1.5rem Oswald, Arial, Helvetica, sans-serif;
    display: block;
    color: #d9ffb3;
    text-align: center; }
  #mob_nav_modal ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #mob_nav_modal li {
    display: block; }
  #mob_nav_modal a {
    color: #e60000;
    font: 1.75rem Oswald, Arial, Helvetica, sans-serif;
    text-decoration: none; }

.mob_section {
  height: 300px;
  margin: 10px;
  border: 5px solid black;
  position: relative;
  background: rgba(0, 0, 0, 0.2); }

.mob_nav_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font: 2rem Oswald, Arial, Helvetica, sans-serif; }
  .mob_nav_txt p {
    margin: 0; }

#mob_home_section {
  background: url("../images/store.jpg") center/cover; }

#mob_menu_section {
  background: url("../images/food.jpg") center/cover; }

.red_text {
  color: #990000; }

.green_text {
  color: #006600; }

.image_slider {
  position: relative; }

.main_footer {
  background-color: #D9D9D9;
  border-top: 5px solid black; }
  .main_footer .ft_sections_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px; }
  .main_footer h3 {
    text-align: center;
    padding-bottom: 10px;
    margin: 0; }

.copyright_container {
  background-color: #A6A6A6;
  padding: 10px 0; }
  .copyright_container small {
    display: block;
    text-align: center;
    line-height: 1.5; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
