$tacoShopRed: #B62B54;
$tacoShopGreen: #427974;
$myBlue: #1270B0;
$myRed: #FC2935;
$myRed2: #ff1a1a;
$myRed3: #ff4d4d;
$myRed4: #e60000;
$myRed5: #CC0000;
$myPink: #ff7f7f;
$myGreen: #006847;
$myGreen2: #66CD00;
$myGreen3: #d9ffb3;
$myGreen4: #23553A;
$myGreen5: #00CC00;

$fontStack: Arial, Helvetica, sans-serif;
