/* Vendor Prefixes Defined:
    Android, Chrome, iOS, Safari: -webkit-
    Firefox: -moz-
    Internet Explorer: -ms-
    Opera: -o-
*/

@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  -o-border-radius: $size;
  border-radius: $size;
}
