/*------------------------------------------------------------------------------*
  VARIABLES
*------------------------------------------------------------------------------*/

// Red Colors:
$baseRed: #AA3939;
$lightRed: #D46A6A;
$lighterRed: #FFAAAA;
$darkRed: #801515;
$darkerRed: #550000;

// Green Colors:
$baseGreen: #2D882D;
$lightGreen: #55AA55;
$lighterGreen: #88CC88;
$darkGreen: #116611;
$darkerGreen: #004400;

// Black, White, Gray Colors:
$myBlack: #000000;
$myWhite: #FFFFFF;
$lightGray: #CCCCCC;
$lighterGray: #D9D9D9;
$lightWhite: #F5F5F5;

// Font Styles:
$fontStack: Arial, Helvetica, sans-serif;
