/*------------------------------------------------------------------------------*
  VARIABLES
*------------------------------------------------------------------------------*/
/* Vendor Prefixes Defined:
    Android, Chrome, iOS, Safari: -webkit-
    Firefox: -moz-
    Internet Explorer: -ms-
    Opera: -o-
*/
/*------------------------------------------------------------------------------*
  BASE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
body {
  margin: 0;
  background-color: #F5F5F5;
  font: 100% Arial, Helvetica, sans-serif; }

h1, h2, h3 {
  margin: 0;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem;
  text-align: center; }

h3 {
  font-size: 1.25rem;
  text-align: center; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  ul li {
    padding: .3125em 0; }
    ul li a {
      display: block; }

button {
  border: 2px ridge #000000;
  border-radius: 10px;
  padding: 5px 30px; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: black;
    cursor: pointer; }
  a:hover, a:active {
    font-weight: bold; }

/*------------------------------------------------------------------------------*
  LAYOUT STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
#l-site-header {
  position: relative;
  padding: .313em .625em;
  border-bottom: 0.125em ridge #000000;
  background-color: #CCCCCC; }

#l-slider {
  position: relative;
  width: 100%;
  height: 300px;
  border-bottom: .125em solid #B6B6B6; }

#l-site-footer {
  border-top: .125em ridge #B6B6B6; }

/*------------------------------------------------------------------------------*
  MODULES STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
.mod-site-nav-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  .mod-site-nav-cont .fa-bars {
    padding-top: .179em;
    color: #000000;
    font-size: 1.75rem;
    cursor: pointer; }

.mod-site-nav-menu {
  position: absolute;
  top: calc(100% + .125em);
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }

.nav-menu-list-item {
  border-bottom: 0.125em solid #CCCCCC;
  background-color: #D9D9D9;
  text-align: center;
  animation: nav-dropin 500ms ease-in-out; }
  .nav-menu-list-item .fa-home, .nav-menu-list-item .fa-utensils, .nav-menu-list-item .fa-dollar-sign, .nav-menu-list-item .fa-question {
    color: #801515;
    font-size: 1.25rem; }
  .nav-menu-list-item a {
    font-size: 1.25rem;
    font-family: Oswald, Arial, Helvetica, sans-serif; }

.slide {
  position: relative;
  width: 100%;
  height: 100%; }

#slide-one {
  background: url("../images/food2.jpg") center/cover; }

#slide-two {
  background: url("../images/food3.jpg") left center/cover; }

#slide-three {
  background: url("../images/store.jpg") center/cover; }

.deal {
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  z-index: 1;
  width: 140px;
  padding: .625em;
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center; }

.deal-name {
  margin: 0 0 .278em;
  font-family: "Amatic SC", Arial, Helvetica, sans-serif;
  font-size: 2.25rem; }

.deal-price {
  margin: 0 0 .3125em;
  font: 2rem Shrikhand, Arial, Helvetica, sans-serif; }

.deal-disclaimer {
  display: block; }

.fa-chevron-left, .fa-chevron-right {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem; }
  .fa-chevron-left:hover, .fa-chevron-right:hover {
    background-color: black;
    color: white; }

.fa-chevron-left {
  left: 2%; }
  .fa-chevron-left:hover {
    transform: translateX(-4px) translateY(-50%); }

.fa-chevron-right {
  right: 2%; }
  .fa-chevron-right:hover {
    transform: translateX(4px) translateY(-50%); }

.cta-section {
  height: 200px; }

#cta-phone-section-img {
  background: url("../images/food5.jpg") center/cover;
  border-bottom: .125em solid #B6B6B6; }

#cta-dir-section-img {
  background: url("../images/directions2.jpg") center/cover; }

.cta-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center; }

.cta-heading {
  margin: 0 0 .313em;
  color: white;
  font-size: 2rem;
  text-transform: uppercase; }

#cta-btn-phone {
  color: white; }

#cta-btn-dir {
  color: white; }

.cta-btn-link {
  align-self: center;
  background-color: #55AA55;
  border-color: white; }
  .cta-btn-link:active {
    transform: translateY(4px); }
  .cta-btn-link a {
    color: white;
    font-weight: bold; }

@keyframes nav-dropin {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center; }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }
.fa-phone, .fa-car {
  margin-right: 10px; }

#mob_nav_modal {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }
  #mob_nav_modal h2 {
    font: 1.75rem;
    color: green;
    padding: .179em .357em;
    border-bottom: 1px solid green; }
  #mob_nav_modal .fa-home, #mob_nav_modal .fa-file, #mob_nav_modal .fa-question, #mob_nav_modal .fa-plus {
    color: white; }
  #mob_nav_modal q {
    font: 1.5rem Oswald, Arial, Helvetica, sans-serif;
    display: block;
    color: green;
    text-align: center; }
  #mob_nav_modal ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #mob_nav_modal li {
    display: block; }

.mob_section {
  height: 300px;
  margin: 10px;
  border: 5px solid black;
  position: relative;
  background: rgba(0, 0, 0, 0.2); }

.mob_nav_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font: 2rem Oswald, Arial, Helvetica, sans-serif; }
  .mob_nav_txt p {
    margin: 0; }

.mod-cont-cpyrght {
  padding: .625em 0;
  background-color: #D9D9D9; }
  .mod-cont-cpyrght > small {
    display: block;
    text-align: center;
    line-height: 1.5; }

.red-text {
  color: #801515; }

.green-text {
  color: #116611; }

.mod-footer-section-cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

/*------------------------------------------------------------------------------*
  STATE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
.reveal {
  display: initial; }

/*------------------------------------------------------------------------------*
  THEME STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
.deal-name {
  margin: 0 0 .278em;
  font-family: "Amatic SC", Arial, Helvetica, sans-serif;
  font-size: 2.25rem; }

.cta-heading {
  margin: 0 0 .313em;
  color: white;
  font-size: 2rem;
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
